.header-div{
  height: 52rem !important;
  background: url("https://miro.medium.com/max/1400/0*YYkZ0h00fY_tzLBF");
   background-repeat: no-repeat;
   background-size:cover;

}
.sessionExpiredDiv{
position: absolute;
left:40%;
top: 30%;
background-color: white;
height: 8rem;
width: 15rem;
text-align: center;
padding-top:1rem;

}
.session-buttons{
margin-top:2rem;
padding-left: 1rem;
}
.session-btn{
  width: 60px;
  height: 40px;
  background-color: black;
  color: white;
}
.whole-page-layer{
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  width: 100%;

}
@media screen and (max-width: 500px){
  .sessionExpiredDiv{

    width: 94%;
    left:3%;
    right:3%
  }

  }